@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap');

body, h1, p {
    margin: 0px;
}

header p, header h1 {
    text-align: center;
    color: #D04F4F;
}

header p {
    margin-top: 20px;
}

header h1 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 36px;
}

body {
    margin: 0px 100px;
}

.form {
    margin-bottom: 20px;
}

form {
    margin-top: 20px;
}

.formClose input {
    padding-right: 0px;
}

.mainInput {
    padding: 20px 0px 20px 20px;
    width: 100%;
    background: #E7E7E7;
    border-radius: 5px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    opacity: 0.25;
    border: 0;
}

.formDiv {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    z-index: 10;
}

form input:focus {
    outline: none;
}

.iconSearch {
    position: relative;
    top: -47px;
    left: 96%;
}

.firstInput, #ingredient {
    background-color: #3282F7;
    border: 0;
    border-radius: 5px;
    padding: 20px 50px 20px 20px;
    color: white;
}

.hideInputFirst {
    margin-bottom: 20px;
    width: 92%;
    background-color: #3282F7;
    border: none;
    outline: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    color: #FFFFFF;
}

.hideInputSecond {
    margin-bottom: 20px;
    width: 92%;
    background-color: #68D9A4;
    border: none;
    outline: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    color: #FFFFFF;
}

.hideInputThird {
    margin-bottom: 20px;
    width: 92%;
    background-color: #ED6454;
    border: none;
    outline: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    color: #FFFFFF;
}

#ingredient, #appareil, #ustensil {
    display: none;
    margin-right: 15px;
}

.secondInput, #appareil {
    background-color: #68D9A4;
    border: 0;
    border-radius: 5px;
    padding: 20px 50px 20px 20px;
    color: white;
}

.thirdInput, #ustensil {
    background-color: #ED6454;
    border: 0;
    border-radius: 5px;
    padding: 20px 50px 20px 20px;
    color: white;
}

.firstInput, .secondInput, .thirdInput {
    height: 70px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.hideInputFirst::placeholder, .hideInputSecond::placeholder, .hideInputThird::placeholder {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    color: #FFFFFF;
    opacity: 0.5;
}

.iconArrow {
    width: 15px;
    height: 9px;
    top: 30px;
    position: relative;
    right: 25px;
}

.iconCloseArrow {
    width: 15px;
    height: 9px;
    position: relative;
    cursor: pointer;
}

.iconCloseArrow:hover {
    transform: scale(1.1);
}

.btnIng {
    background-color: #3282F7;
    border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    color: white;
    text-align: left;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.btnApp {
    background-color: #68D9A4;
    border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    color: white;
    text-align: left;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.btnUst {
    background-color: #ED6454;
    border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    color: white;
    text-align: left;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.recette {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    margin-top: 140px;
    margin-bottom: 50px;
}

#showIng, #showApp, #showUst {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 5px;
}

.bgDiv {
    background-color: #C7BEBE;
    border-radius: 5px 5px 0px 0px;
    height: 178px;
}

.bgDivContent {
    background: #E7E7E7;
    border-radius: 0px 0px 5px 5px;
    padding: 18px 18px 0px 18px;
    height: 170px;
}

.divTop h2 {
    margin: 0px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    max-width: 265px;
}

.divTop span {
    margin: 0px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.divTop, .divBottom {
    display: flex;
    justify-content: space-between;
}

.divBottom {
    margin-top: 20px;
}

.divBottom p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    flex: 1;
    color: #000000;
}

.divBottom li {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    list-style-type: none;
}

.divBottom ul {
    margin: 0;
    flex: 1.1;
    padding: 0;
    width: 100%;
}

.message {
    display: none;
    background: red;
    color: white;
    padding: 10px 0px 10px 10px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.tag {
    margin-bottom: 20px;
}

.tagIngredient {
    background-color: #3282F7;
    padding: 15px 40px 15px 15px;
    border-radius: 5px;
    color: white;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    border: 0;
    outline: 0;
}

.tagUstensil {
    background-color: #ED6454;
    padding: 15px 40px 15px 15px;
    border-radius: 5px;
    color: white;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    border: 0;
    outline: 0;
}

.tagicone {
    position: relative;
    cursor: pointer;
    right: 25px;
    top: 5px;
}

.iconeTime {
    position: relative;
    top: 3px;
    right: 10px;
}
.tagicone:hover {
    transform: scale(1.1);
}

.tagAppareil {
    background-color: #68D9A4;
    padding: 15px 40px 15px 15px;
    border-radius: 5px;
    color: white;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    border: 0;
    outline: 0;
}

.colorText {
    color: white;
    font-size: 18px;
    grid-template-columns: 1fr !important;
}

@media screen and (max-width: 1850px) {
    .recette {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1400px) {
    .formDiv {
        max-width: 80%;
    }
}

@media screen and (max-width: 1025px) {
    .recette {
        grid-template-columns: 1fr 1fr;
    }

    #showIng, #showApp, #showUst {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 800px) {
    #showIng, #showApp, #showUst {
        grid-template-columns: 1fr;
    }

    .formDiv {
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    .recette {
        margin-top: 270px;
    }

    .iconArrow {
        width: 15px;
        height: 9px;
        top: -40px;
        position: relative;
        left: 490px;
    }
    
    .firstInput, .secondInput, .thirdInput {
        width: 93%;
    }
}

@media screen and (max-width: 769px) {
    body {
        margin: 0px 60px;
    }
    .formDiv {
        max-width: 85%;
    }

    .bgDivContent {
        height: 200px;
        padding: 18px 10px 0px 10px;
    }

    .divTop h2 {
        max-width: 185px;
    }

    .firstInput, .secondInput, .thirdInput {
        width: 105%;
    }

    #ingredient, #appareil, #ustensil {
        width: 94%;
        margin-bottom: 11px;
    }
}

@media screen and (max-width: 601px) {
    .mainInput {
        width: 96%;
    }

    .iconSearch {
        left: 90%;
    }

    .formDiv {
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    .bgDivContent {
        height: 180px;
    }

    .divTop h2 {
        max-width: 300px;
    }

    .recette {
        grid-template-columns: 1fr;
        margin-top: 270px;
    }

    .iconArrow {
        width: 15px;
        height: 9px;
        top: -40px;
        position: relative;
        left: 390px;
    }

    .firstInput, .secondInput, .thirdInput {
        width: 100%;
    }
}

@media screen and (max-width: 551px) {
    body {
        margin: 0px 30px;
    }

    .mainInput {
        width: 93%;
    }

    .message {
        width: unset;
    }

    .formDiv {
        display: flex;
        flex-direction: column;
        width: 88%;
        max-width: unset;
    }

    .iconSearch {
        top: -43px;
        left: 85%;
    }

    .iconArrow {
        width: 15px;
        height: 9px;
        top: -40px;
        position: relative;
        left: 420px;
    }

    .firstInput, .secondInput, .thirdInput {
        width: 100%;
    }

    #ingredient, #appareil, #ustensil {
        width: 96%;
        margin-right: 29px;
        padding: 10px 10px 10px 10px;
        margin-bottom: 11px;
    }

    #showIng, #showApp, #showUst {
        grid-template-columns: 1fr;
    }

    .hideInputFirst, .hideInputSecond, .hideInputThird {
        width: unset;
    }
    
    .recette {
        grid-template-columns: 1fr;
        margin-top: 270px;
    }

    .divTop {
        display: block;
    }

    .divTop h2 {
        margin-bottom: 5px;
    }

    .iconeTime {
        right: 0px;
    }

    .tagAppareil, .tagIngredient, .tagUstensil {
        margin-bottom: 10px;
    }

    .divTop span {
        margin-left: 10px;
        font-size: 16px;
    }

    .divBottom {
        margin-top: 15px;
    }

    .bgDivContent {
        height: 190px;
    }

    .iconCloseArrow {
        left: 190px;
    }

    .divTop h2 {
        max-width: 300px;
    }

}

@media screen and (max-width: 501px) {
    .iconArrow {
        left: 360px;
    }
}

@media screen and (max-width: 426px) {
    .bgDivContent {
        height: 210px;
    }

    .iconCloseArrow {
        left: 90px;
    }

    .iconArrow {
        left: 310px;
    }

    .formDiv {
        width: 85%;
    }

    .iconSearch {
        width: 30px;
    }
}

@media screen and (max-width: 376px) {
    .iconArrow {
        left: 260px;
    }

    .firstInput, .secondInput, .thirdInput {
        width: 98%;
    }

    #ingredient, #appareil, #ustensil {
        width: 93%;
    }

    .iconCloseArrow {
        left: 60px;
    }
}

@media screen and (max-width: 321px) {
    .mainInput {
        width: 90%;
    }

    .iconSearch {
        width: 20px;
    }

    .bgDivContent {
        height: 230px;
    }

    #ingredient, #appareil, #ustensil {
        width: 89%;
    }

    .firstInput, .secondInput, .thirdInput {
        width: 95%;
    }

    .iconArrow {
        left: 210px;
    }

    .formDiv {
        width: 85%;
    }

    .iconCloseArrow {
        left: 10px;
    }
}